[Unit]
Description=LibCEC uinput daemon
After=rc.local.service

[Service]
Type=simple
User=cec
Group=cec
ExecStart=/usr/bin/libcec-daemon --port 1
Restart=always
#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=libcec-daemon



[Install]
WantedBy=multi-user.target

